{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}
{% blocktrans %}Karte der Hilfsbereiten{% endblocktrans %}
{% endblock %}

<!--<div id='map' width="100%" style='height:800px'></div>
<script>
mapboxgl.accessToken = '{{ mapbox_access_token }}';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [8.22267,46.80066],
    zoom: 7
});
</script>
-->
{% block header %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
       integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
       crossorigin=""></script>
    <style type="text/css">
        #mapid {
            height: 1000px;
            z-index:1;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="mapid"></div>
    <script type="text/javascript">
        /*
        var mymap = L.map('mapid').setView([46.80066, 8.22267], 8);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: '{{ mapbox_access_token }}'
        }).addTo(mymap);
        */
        var littleton = L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.'),
            denver    = L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.'),
            aurora    = L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.'),
            golden    = L.circle([39.77, -105.23],{
                           color: 'blue',
                           weight: 2 + 0.5 * 1,
                           fillColor: 'red',
                           fillOpacity: .2,
                           radius: 500 + 100 * 1
                       }).bindPopup('This is Golden, CO.');
        var cities = L.layerGroup([littleton, denver]);
        var cities2 = L.layerGroup([aurora, golden]);

        var mapboxUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ mapbox_access_token }}';
        var mapboxAttribution = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
        var streets   = L.tileLayer(mapboxUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mapboxAttribution});

        var map = L.map('mapid', {
            center: [39.73, -104.99],
            zoom: 10,
            layers: [streets, cities, cities2] // default layers
        });

        var overlayMaps = {
            "FaBe": cities,
            "FaGe": cities2
        };

        L.control.layers(
            null, // map type shall not be switchable
            overlayMaps,
            {collapsed:false}
        ).addTo(map);

        window.addEventListener('load', function() {
            $(window).on("resize", function () {
                var height = $(window).height();
                var navHeight = $('.navbar').outerHeight();

                var footerHeight = $('.footer').innerHeight();
                var newHeight = height - navHeight - footerHeight;
                $("#mapid").height(newHeight);
                map.invalidateSize();
            }).trigger("resize");});
        {% for fun in functions %}
            console.log('{{ fun }}')
        {% endfor %}
    </script>
{% endblock %}
