{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Über uns{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="height:40px"></div>
        <h1 style="text-align:center; font-weight: 300;">{% blocktrans %}Wir sind das Team hinter
            match4care!{% endblocktrans %}</h1>
        <hr>
        <p class="text-center">Im Rahmen des <a href="https://www.codevscovid19.org/">#CodeVSCOVID19 Hackathons</a> haben wir uns als Team zusammengefunden um eine stabile,
            skalierbare und erweiterbare Plattform-Lösung zur Vermittlung von Medizin- & Pflegefachkräften an Pflegeorganisationen in der Schweiz zu erarbeiten. In knapp 72
            Stunden ist mit Hilfe des Teams sowie unzähliger Partner diese Plattform entstanden. Wir hoffen, damit einen entscheidenen Beitrag zur Bewältigung der COVID-19
            Kriese leisten zu können und ein echtes Problem gelöst zu haben.</p>
        <div style="height:40px"></div>

        <hr style="margin-bottom: 65px;">
        <div class="row" style="margin-bottom:65px;">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow" style="height:100%">
                    <div style="height:30%"></div>
                    <a href="https://www.codevscovid19.org/"  target="_blank"><img src="{% static 'img/hackzuerich.webp' %}"
                                                                                   class="card-img-top"
                                                                                   alt="#codevscovid19" width="300px"
                                                                                   style="padding: 0 5px;"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.codevscovid19.org/">HACKzurich #CodeVSCOVID-19</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/silvan_leibacher.png' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.linkedin.com/in/silvanleibacher/">Silvan Leibacher</a>
                        </h5>
                    </div>
                </div>

            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/niclas_simmler.png' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.linkedin.com/in/niclas-simmler/">Niclas Simmler</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/Himmelberger_Pascal.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.linkedin.com/in/pascalhimmelberger/">Pascal Himmelberger</a>
                        </h5>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/dominik_vazquez.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.linkedin.com/in/dominik-vazquez-2a442863/">Dominik Vazquez</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/Amin_Trabi.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.linkedin.com/in/amin-trabi/">Amin Trabi</a>
                        </h5>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/team/cedric_buehler.jpg' %}" class="card-img-top" alt="..." width="300px">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.xing.com/profile/Cedric_Buehler3">Cédric Bühler</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-5">
                <div class="card border-0 shadow">
{#                    <img src="{% static 'img/team/lukas_mueller.png' %}" class="card-img-top" alt="..." width="300px">#}
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Lukas Müller</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

{# add list with mentors #}


{% endblock %}
