{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Datenschutzerklärung
{% endblock %}

{% block header %}
<script type="text/javascript">
    function decode(a) {
        return a.replace(/[a-zA-Z]/g, function (c) {
            return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                ? c : c - 26);
        })
    };
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div style="height:40px"></div>
    <div class="impressum">
        <h1>Datenschutzerklärung</h1>
        <div class="row">
            <div class="col-md-4 m-1 p-3">
                <h5>Wer wir sind / Kontakt­information</h5>
                <strong>Initiative match4care</strong>
               <br>
                E-Mail: <a href="mailto:info@match4care.ch">info@match4care.ch</a><br><br>
                Kontaktperson für Datenschutz ist Silvan Leibacher.<br><br>
                <h5>Impressum</h5>
                <p>Unser Impressum finden Sie <a href="/impressum">hier</a>.</p>
            </div>
            <div class="col-md-6 m-1 p-3">
                <h1>Datenschutzerklärung</h1>
                <h5>Grundsätzliches</h5>
                <p>Die  Betreiberin der Plattform match4care ("wir") legt Wert auf Ihre Privatsphäre. Die vorliegende Datenschutzerklärung (in der jeweils aktuellen Fassung; "Datenschutzerklärung") zeigt unser Engagement, die Privatsphäre und die Vertraulichkeit personenbezogener Daten (d.h. alle Informationen, welche einen Rückschluss auf eine identifizierte oder identifizierbare natürliche Person ermöglichen; "Personendaten"), die Sie mit uns teilen zu gewährleisten.

                    Wenn Sie auf unsere Webseite match4care.ch zugreifen oder sich bei uns registrieren um Ihre Arbeitsleistung bei potenziellen Einsatzbetrieben oder Arbeitgebern im Gesundheitswesen, namentlich Spitäler, Kliniken, Labore, Heime, ambulante ärztliche Institutionen und Rettungsunternehmen ("Gesundheitsinstitutionen") anzubieten, akzeptieren Sie die aktuelle Fassung dieser Datenschutzerklärung. Sollten Sie damit ganz oder teilweise nicht einverstanden sein, dürfen Sie nicht auf unsere Webseite zugreifen oder uns anderweitig Ihre Personendaten zukommen lassen.

                    <br>

                <h5>Bearbeitete Personendaten</h5>
                <p>Umfang und Art der bearbeiteten Personendaten hängen von der Art unserer Beziehung zu Ihnen ab: <br>
                    • Sobald Sie unsere Webseite besuchen, können wir folgende Personendaten bearbeiten: Die IP-Adresse, Datenverkehrs- und Standortdaten sowie die Inhalte, auf die Sie zugreifen.<br>
                    • Sofern Sie uns entsprechende Personendaten zur Verfügung stellen, bearbeiten wir: den Inhalt von Anmelde- und Kontaktformularen (u.a. Personenstammdaten, Ausbildung, berufliche Qualifikation) und sonstige Kommunikationsdaten (insb. E-Mails). </br>
                    • Wir bearbeiten ausschliesslich Informationen von Nutzern unserer Webseite in anonymisierter, zusammengefasster Form. Diese Daten helfen uns dabei, ein besseres Verständnis über die Nutzung unserer Webseite zu gewinnen.</p>

                <br>

                <h5>Bearbeitungszwecke</h5>
                <p>Wir verwenden Personendaten zur Bereitstellung funktionsfähiger Webseiten und von deren Inhalt sowie zur Erbringung unserer Dienstleistungen und zur Kommunikation mit Ihnen.
                    <br>
                    <br>
                    Personendaten, welche Sie uns im Rahmen der Anbietung Ihrer Arbeitsleistung zukommen lassen, werden wir nur bearbeiten, soweit diese Daten Ihre Eignung für einen Arbeitseinsatz oder Freiwilligendienst in einer Gesundheitsinstitution betreffen oder zu dessen Durchführung erforderlich sind. Im Rahmen unserer Vermittlungsdienstleistung werden Ihre Personendaten an interessierte (und vorgängig manuell durch uns geprüfte) Gesundheitsinstitutionen weitergegeben. Zweck und Umfang der anschliessenden Datenbearbeitung durch die Gesundheitsinstitution sowie Ihre diesbezüglichen Rechte zum Schutz Ihrer Privatsphäre können Sie den entsprechenden Datenschutzhinweisen der relevanten Gesundheitsinstitution entnehmen.</p>
                <br>

                <h5>Cookies</h5>
                <p>Der Zugang zu Bereichen mit Registrierungspflicht sowie die Nutzung bestimmter Dienstleistungen ist nur dann möglich, wenn Ihr Internet-Browser Cookies akzeptiert. Cookies sind kleine Textdateien, die im Browser des Besuchers gespeichert werden und zur Wiedererkennung des Browsers dienen. Als wiedererkannter Benutzer müssen Sie sich nicht immer wieder erneut anmelden.
                    <br>
                    Des Weiteren setzen wir Google Analytics ein, einen Webanalysedienst der Google Inc. ("Google"). Die von Google Analytics mittels Cookies erhobenen Informationen über die Benutzung der Webseite (einschliesslich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um die Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zu erstellen und um weitere mit der Webseitennutzung verbundene Dienstleistungen zu erbringen. Google wird diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.
                    <br>
                    Sie können die Installation von Cookies durch eine entsprechende Einstellung Ihres Browsers verhindern, dies kann jedoch zu Einschränkungen in der Webseitennutzung führen. Grundsätzlich wird empfohlen, sporadisch die angesammelten Cookies zu löschen. Wie das alles funktioniert, entnehmen Sie bitte den Hilfeseiten Ihres Browsers.</p>
                <br>

                <h5>Bearbeitungsgrundlage</h5>
                <p>Die Bearbeitung Ihrer Personendaten für die hierin beschriebenen Zwecke basiert unter anderem auf unserem berechtigten Interesse an der Aufrechterhaltung der Kommunikation über unsere Dienstleistungen, soweit nicht Ihre Einwilligung oder eine andere Grundlage zur rechtmässigen Bearbeitung Ihrer Personendaten nach anwendbarem Recht vorliegt.
                </p>
                <br>

                <h5>Cookies</h5>
                <p>Unsere Internetseite verwendet so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
                    <br>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                    <br>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
                </p>
                <br>

                <h5>Datenweitergabe</h5>
                <p>Ihre Personendaten werden durch uns, mit uns verbundene Institutionen (wie z.B. curaviva), die Gesundheitsinstitutionen und unsere sorgfältig ausgesuchten IT-Dienstleister verwendet, welche verpflichtet sind, Ihre Personendaten im gleichen Umfang wie wir zu schützen. Wir geben Ihre Personendaten nur an andere Dritte weiter, sofern Sie vorgängig einwilligen oder dies aufgrund des anwendbaren Rechts verlangt wird.
                    <br>
                    Die Bearbeitung Ihrer Personendaten kann ausserhalb der Schweiz erfolgen, einschliesslich Länder, welche keinen angemessenen Datenschutz gewährleisten ("Drittland"), insbesondere in den USA. Jede Übermittlung Ihrer Personendaten in ein Drittland erfolgt entweder aufgrund Ihrer ausdrücklichen Zustimmung oder gemäss einer Datenbearbeitungsvereinbarung.
                </p>
                <br>

                <h5>Datensicherheit</h5>
                <p>Die Nutzung von bzw. der Zugang zu Ihren Personendaten ist auf diejenigen Personen beschränkt, die diesen benötigen. Wir setzen angemessene technische und organisatorische Massnahmen ein, um Ihre Daten zu schützen, insbesondere gegen zufällige oder vorsätzliche Manipulation, Offenlegung, Verlust oder Zerstörung. Unsere Sicherheitsmassnahmen werden mit der technologischen Entwicklung fortlaufend verbessert und entsprechen dem anwendbaren Datenschutzrecht. Die Datenübermittlung über das Internet ist dennoch nicht vollkommen sicher und sämtliche Übermittlungen Ihrer Personendaten an die Webseite erfolgen auf Ihr eigenes Risiko.</p>

                <h5>Kontakt</h5>
                <p>Sollten Sie mit unserer Bearbeitung Ihrer Personendaten nicht zufrieden sein, würden wir gerne verstehen, wie wir dies beheben können. Bitte kontaktieren Sie uns unter <a href="mailto:help@match4care.ch">help@match4care</a>.</p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
