{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Impressum
{% endblock %}

{% block header %}
<script type="text/javascript">
    function decode(a) {
        return a.replace(/[a-zA-Z]/g, function (c) {
            return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                ? c : c - 26);
        })
    };
</script>
{% endblock %}

{% block content %}


<div class="container">
    <div style="height:40px"></div>
    <div class="impressum">
        <h1>Impressum</h1>
        <div class="row">
            <div class="col-md-4 m-1 p-3">
                <h5>Personen hinter dem Projekt</h5>
                <strong>Silvan Leibacher, Niclas Simmler, Cédric Bühler, Amin Trabi, Lukas Müller, Pascal Himmelberger</strong><br><br>
                <br>
                E-Mail: <a href="mailto:info@match4care.ch">info@match4care.ch</a><br><br>
                Verantwortlicher für den Inhalt auf dieser Website ist Silvan Leibacher.<br><br>
                <h5>Datenschutz</h5>
                <p>Unsere Datenschutzerklärung finden Sie <a href="/dataprotection">hier</a>.</p>
            </div>
            <div class="col-md-6 m-1 p-3">
                <h1>Nutzungsbedingungen</h1>
                <h5>Grundsätzliches</h5>
                <p>Die vorliegenden Nutzungsbedingungen (in der jeweils aktuellen Fassung; "Nutzungsbedingungen") zusammen mit
                    ergänzenden Regelungen, u.a. der Datenschutzerklärung (match4care.ch/dataprotection), enthalten die massgebenden
                    Bestimmungen, die Ihren Zugriff auf die Webseite match4care.ch und die Nutzung der Plattform match4care ("Webseite") regeln.
                    Betreiber dieser Webseite ist die curaviva.ch ("Betreiber" oder "wir"). Unsere Datenschutzerklärung , welche integraler
                    Bestandteil dieser Nutzungsbedingungen ist, gibt Aufschluss über den Umgang mit Ihren Personendaten.
                    <br><br>
                    Die Webseite wird von uns gemeinnützig und im öffentlichen Interesse betrieben und dient der Vermittlung
                    von Arbeitsleistungen und Freiwilligendienste (zusammen "Hilfseinsätze") zur Unterstützung der Gesundheitsversorgung
                    im Lichte von COVID-19. Fachkräfte aus dem Gesundheitswesen ("Hilfsdienstleistende") können auf der
                    Webseite Ihre Einsatzbereitschaft signalisieren und Hilfseinsätze anbieten. Institutionen des Gesundheitswesens
                    wie namentlich Spitäler, Kliniken, Labore, Heime, ambulante ärztliche Institutionen und Rettungsunternehmen
                    ("Gesundheitsinstitutionen") können auf der Webseite ihre individuellen Personalbedürfnisse angeben.
                    Über die Webseite können den Gesundheitsinstitutionen geeignete Hilfsdienstleistende vorgeschlagen und vermittelt werden.
                    Die Nutzung der Webseite ist sowohl für die Hilfsdienstleistenden als auch für die Gesundheitsinstitutionen unentgeltlich.
                    Die Kontaktaufnahme sowie sämtliche den Hilfseinsatz konkretisierende Vereinbarungen zwischen Hilfsdienstleistenden
                    und Gesundheitsinstitutionen erfolgen direkt zwischen diesen Parteien und unabhängig von uns.
                    <br><br>
                    Ihr Zugriff auf unsere Webseite und deren Nutzung setzt die Einhaltung unserer Nutzungsbedingungen voraus.
                    Wenn Sie auf unsere Webseite zugreifen, akzeptieren Sie die aktuelle Fassung dieser Nutzungsbedingungen.
                    Sollten Sie damit ganz oder teilweise nicht einverstanden sein, dürfen Sie nicht auf unsere Webseite
                    zugreifen oder anderweitig mit uns kommunizieren.

                </p>

                <h5>Immaterialgüterrechte</h5>
                <p>Sämtliche Urheberrechte und Rechte an Marken, Designs, Datenbanken und Patenten sowie andere Immaterialgüterrechte
                    und Knowhow an der Webseite verbleiben ausschliesslich bei den Betreibern oder unseren Lizenzgebern.
                    <br><br>
                    Alle Elemente der Webseite, inklusive das Design und die Texte sowie Illustrationen sind urheberrechtlich
                    oder anderweitig immaterialgüterrechtlich geschützt. Eine Reproduktion und/oder Weiterverwendung der
                    Inhalte über den persönlichen Gebrauch hinaus ist nicht gestattet.
                </p>

                <h5>Änderungen</h5>
                <p>Wir überprüfen periodisch, ob Ergänzungen oder Anpassungen zweckdienlich sind. Wir behalten uns vor,
                    jederzeit und ohne Vorankündigung allfällige Änderungen an der Webseite vorzunehmen, deren Funktionalitäten
                    und Inhalte zu ergänzen, zu modifizieren oder zu löschen oder den Betrieb der Webseite ganz oder teilweise,
                    vorübergehend oder dauerhaft einzustellen.
                    <br><br>
                    Wir nehmen gelegentlich Änderungen an unseren Nutzungsbedingungen vor. Die jeweils geltende Fassung
                    der Nutzungsbedingungen kann auf unserer Webseite eingesehen werden. Indem Sie weiterhin auf unsere
                    Webseite zugreifen oder diese nutzen, stimmen Sie den aktualisierten Nutzungsbedingungen zu.
                    <br><br>
                    Sollte eine Bestimmung dieser Nutzungsbedingungen ungültig oder nicht durchsetzbar sein, so ist sie
                    in möglichst gehaltswahrender Weise so anzupassen, dass sie gültig oder durchsetzbar wird. Die restlichen
                    Bestimmungen dieser Nutzungsbedingungen bleiben dabei vollumfänglich in Kraft.
                </p>

                <h5>Ihr Zugang</h5>
                <p>Wir behalten uns vor, jederzeit und ohne Vorankündigung oder Angabe von Gründen Ihren Zugang zu unserer
                    Webseite einzuschränken oder zu sperren oder Ihre Personendaten zu löschen oder deren Bearbeitung zu verweigern.
                    <br><br>
                    Wir behalten uns zudem vor, Personendaten zu bearbeiten und offenzulegen, soweit wir dies für nötig erachten,
                    um (i) anwendbare Rechtsvorschriften einzuhalten oder behördlichen Anfragen zu entsprechen, (ii) diese Nutzungsbedingungen durchzusetzen,
                    inkl. deren potentielle Verletzung zu untersuchen, (iii) Betrug, Sicherheitsprobleme oder technische Probleme zu entdecken, zu verhindern
                    oder zu beheben, oder (iv) die Rechte, das Eigentum oder die Sicherheit der Betreiber, unseren Nutzern oder der
                    Öffentlichkeit zu schützen, bzw. zu gewährleisten.
                </p>

                <h5>Keine Gewährleistung oder Haftung</h5>
                <p>Für die Informationen auf der Webseite werden keinerlei Garantien oder Gewährleistungen abgegeben,
                    weder ausdrücklich noch stillschweigend, insbesondere nicht in Bezug auf Gebrauchstauglichkeit oder
                    Tauglichkeit für einen bestimmten Zweck. Weiter gibt der Betreiber keine Garantie oder Gewährleistung ab,
                    dass die Informationen oder Daten auf der Webseite von einer bestimmten Qualität, vollständig, aktuell
                    oder frei von Viren, Trojanern oder anderen Schadprogrammen sind, oder dass deren Nutzung keine Rechte
                    von Dritten verletzt.
                    <br><br>
                    Jegliche Haftung der Betreiber oder mit ihr verbundenen Personen (wie Mitarbeiter, Organe oder Beteiligte)
                    für etwaige Schäden jeglicher Art, die durch die Nutzung oder Nichtverfügbarkeit der Webseite oder
                    Informationen und Daten verursacht werden, ist soweit gesetzlich zulässig ausgeschlossen.</p>

                <h5>Anwendbares Recht und Gerichtsstand</h5>
                <p>Diese Nutzungsbedingungen unterstehen materiellem Schweizer Recht. Für sämtliche Ansprüche aus oder
                    im Zusammenhang mit diesen Nutzungsbedingungen oder der Nutzung der Webseite sind die ordentlichen
                    Gerichte in Bern, Schweiz, ausschliesslich zuständig.</p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
